body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #000000, #000080, #2196F3);
}

.container {
    text-align: center;
}

.weather-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    max-width: 450px;
    margin: 20px;
    backdrop-filter: blur(10px);
}

.weather-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

#city-input {
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#city-input:focus {
    outline: none;
    border-color: #2196F3;
}

#city-input::placeholder {
    color: #aaa;
}

#city-input-btn {
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#city-input-btn:hover {
    background-color: #1565C0;
}

#weather-info {
    display: none;
    margin-top: 20px;
    animation: fadeIn 1s;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
    color: #333;
}

#description {
    font-size: 20px;
    margin-bottom: 10px;
    color: #666;
}

#wind-speed {
    font-size: 18px;
    color: #666;
}

#date {
    font-size: 16px;
    color: #666;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.error-box {
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: none;
    animation: fadeIn 1s;
}